

.container{
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-image: url("../../image/bg.png");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.content{
    align-self: center;
}

.login_input{
    width: 368px;
    height: 40px;
    padding: 0;
}

.login_btn{
    background-color: #1890ff;
    width: 368px;
    height: 40px;
    color: white;
    border-radius: 4px;
}
